#highScoresList {
	list-style: none;
	padding-left: 0;
	margin-bottom: 4rem;
	/* width: 50px;
	display: flex;
	flex-wrap: wrap; */
}
/* #ScoresList{
	flex-direction: column;
} */
#high-scores{
	font-size: 2.8rem;
	margin-bottom: 0.5rem;
}
#high-scores:hover{
	transform: scale(1.025);
}
